<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Website</title>

</head>
<style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
width: 100%;
height: 100vh;
}
.content{
position:relative;
    top: 35%;
    left: 8%;
}

.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #089da1;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}
</style>
<body>
    <div class="hero">
        <div class="content">
            <h1>Hello, I’m <span>Shubham</span></h1>
            <p>Roll:2005965</p>
            <p>Branch:Cse</p>
            <p>Contact:8434167379</p>

        </div>
         <div class="content">
            <h1>Hello, I’m <span>Divyanshu</span></h1>
            <p>Roll:2005450</p>
            <p>Branch:Cse</p>
            <p>Contact:8434167379</p>
             </div>
         <div class="content">
            <h1>Hello, I’m <span>kshitiz</span></h1>
            <p>Roll:2005457</p>
            <p>Branch:Cse</p>
            <p>Contact:8434167379</p>
             </div>
         <div class="content">
            <h1>Hello, I’m <span>Yashvaswi</span></h1>
            <p>Roll:2005980</p>
            <p>Branch:Cse</p>
            <p>Contact:8434167379</p>
             </div>
    </div>
</body>
</html>