.intro{
    display: flex;
    height: 70vh;
    width: 100%;
    margin-top: 6rem;
}
.i-left{
    display:flex;
    position:relative;
    flex: 1;
    flex-direction: column;
     gap: 2rem;
}
.i-right{
    display: flex;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
    
}
.i-name>:nth-child(2){
color:var(--orange);
font-weight: bold;
font-size: 3rem;

}
.i-name>:nth-child(3){

    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}
.i-button{
 width:8rem;
 height: 3rem;
}
.i-icons{
    display: flex;
    gap: 0;
    margin-top: 3rem;
    size: 1rem;

}
.i-icons>*{
    transform: scale(0.5);
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.i-icons>*:hover{
    cursor: pointer;
    transform: rotate(180deg);
    

}
.i-right{
    flex:1;
    position: relative;

}
.i-right>*{
    position:absolute;
    z-index: 1;
}
/* .i-right > :nth-child(1) {
    transform: scale(4);
    left: 15rem;
    top: 8rem;
  }
  .i-right > :nth-child(2) {
    top: 8rem;
    transform: scale(4);
    left: 15rem;
  } */
  .i-right > :nth-child(1) {
    transform: scale(0.7);
    left:30%;
    
  }
  .i-right > :nth-child(2){
     transform: scale(0.5);
     top:-5%;
     left: -5%;
     border-radius: 50%;
     padding: 0;

  }
  .i-right > :nth-child(3){
    transform: scale(0.5);
    top:70%;
    left: 80%;

 }
 .blur{
     position: absolute;
     width: 30rem;
     height: 14rem;
     border-radius: 50%;
     background: #edd0ff;
     z-index: -9;
     top: -5%;
     left: 40%;
     filter: blur(72px) 
 }
 @media screen and (max-width:480px){
     .intro{
         flex-direction: column;
         height: 64rem;
         gap: 7rem;
     }
     .i-right{
         transform: scale(0.8) ;
         left:-3;
     }
.i-right .blur{
    display: none;
}
     .floating.div:nth-of-type(1){
         top:-7rem !important 

     }
 }